@use '../../style/base/' as *;

.hero {
    width: 100%;
    height: calc(100vh - 6.25rem);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../../assets/images/yourdreamshoes.png);
    background-repeat: no-repeat;
    background-position: center center;
    object-fit: cover;
    object-position: center center;

    .call_to_action {
        bottom: 10vh;
        right: 30vw;
        position: absolute;
        z-index: 10;

        @media screen and (max-width: 786px) {
            left: 50%;
            right: 0%;
            transform: translate(-50%);
        }
    }
   
    
/* 
    h1 {
        position: absolute;
        font-family: CaviarDreams;
        font-size: $font-size-xl;
        top: 20%;
        align-self: center;
        z-index: 2;
    } */

    .image_container {
        position: relative;
        margin: 0;
        width: 100%;
        max-height: 90vh;
        z-index: 1;

        > img {
            width: auto;
            height: 100vh;
           
        }
    }
}