// colors client
$color-client-1:#dedede;
$color-client-2: #a1a1a1;
$color-client-3: #181818;

$color-bg: #232328;

// dimmed
$color-dimmed: #888;

// color scrollbar
$color-scrollbar-bg: color-client-2;
$color-li-arrow: #61505A;

$box-shadow: rgba(0,0,0,0.335);

// cards
$color-card-bg: #000;

$color-gradient-gold: linear-gradient(120deg, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C);
